# Virtual environment
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log

# Test
.coverage
.pytest_cache/
htmlcov/

# mypy
.mypy_cache/
