CREATE TABLE IF NOT EXISTS `{{ project_id }}.{{ dataset }}.human_decisions` (
  customer_part_number STRING,
  supplier_part_number STRING,
  decision STRING,
  is_match BOOLEAN,
  reasoning STRING,
  created_at TIMESTAMP,
  updated_at TIMESTAMP
);
